# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Environment variables file
.env

# Dependency directories
# Example: /venv/
